In [13]:
import pandas as pd
from dotenv import load_dotenv
import os
from api import get_token, get_camera_token
from pyroclient import Client
import glob
from PIL import Image
import numpy as np
import io

In [14]:
API_URL = "http://0.0.0.0:5050"
load_dotenv("../.env")
SUPERADMIN_LOGIN = os.environ.get("SUPERADMIN_LOGIN")
SUPERADMIN_PWD = os.environ.get("SUPERADMIN_PWD")

# Get access token
admin_access_token = get_token(API_URL, SUPERADMIN_LOGIN, SUPERADMIN_PWD)

In [15]:
users = pd.read_csv("../data/csv/API_DATA_DEV - users.csv")
cameras = pd.read_csv("../data/csv/API_DATA_DEV - cameras.csv")
users

   id  organization_id password   login   role                  created_at
0   2                2     test  test77  agent  2024-02-23T08:18:45.447773
1   3                3     test  test07  agent  2024-02-23T08:18:45.447773

In [16]:
user = "test77"
organization_id = users[users["login"]==user]["organization_id"].item()

user_cameras = cameras[cameras["organization_id"]==organization_id]
user_cameras

,id,organization_id,name,angle_of_view,elevation,lat,lon,is_trustable,last_active_at,created_at
0,2,2,videlles-01,54.2,110,48.4783,2.4242,True,NaN,2023-11-07T15:07:19.226673
1,3,2,videlles-02,54.2,110,48.4783,2.4242,True,NaN,2023-11-07T15:07:19.226673
2,4,2,croix-augas-01,54.2,110,48.4267,2.7109,True,NaN,2023-11-07T15:07:19.226673
3,5,2,croix-augas-02,54.2,110,48.4267,2.7109,True,NaN,2023-11-07T15:07:19.226673
4,6,2,moret-sur-loing-01,54.2,110,48.3792,2.8208,True,NaN,2023-11-07T15:07:19.226673
5,7,2,moret-sur-loing-02,54.2,110,48.3792,2.8208,True,NaN,2023-11-07T15:07:19.226673
6,8,2,nemours-01,54.2,110,48.2605,2.7064,True,NaN,2023-11-07T15:07:19.226673
7,9,2,nemours-02,54.2,110,48.2605,2.7064,True,NaN,2023-11-07T15:07:19.226673

In [17]:
### Define Alert Parameters

camera_id = 8  # Camera ID
FOV = cameras[cameras["id"] == camera_id]["angle_of_view"].item()  # Camera field of view in degrees
detection_azimuth = 349  # Azimuth angle of the detected event (in degrees)
cone_angle = 3  # Angular width of the detection cone (in degrees)
cam_center_azimuth = 342  # Central azimuth of the camera (in degrees)

# Note: detection_azimuth should fall within the camera's visible range:
# cam_center_azimuth - FOV / 2 <= detection_azimuth <= cam_center_azimuth + FOV / 2

In [26]:
# Get camera token
camera_token = get_camera_token(API_URL, camera_id, admin_access_token)
print(f"Camera {camera_id} Token:", camera_token)

{"access_token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4Iiwic2NvcGVzIjpbImNhbWVyYSJdLCJvcmdhbml6YXRpb25faWQiOjIsImV4cCI6MTc4Mzc2NTc2Mn0.9JE4t7rIlwAlMfJMc7I6vI4nMNjDWWrmMnJwR8Kmn9U","token_type":"bearer"}
Camera 8 Token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4Iiwic2NvcGVzIjpbImNhbWVyYSJdLCJvcmdhbml6YXRpb25faWQiOjIsImV4cCI6MTc4Mzc2NTc2Mn0.9JE4t7rIlwAlMfJMc7I6vI4nMNjDWWrmMnJwR8Kmn9U

In [19]:
imgs = glob.glob("/Users/mateo/Downloads/nemours_-_340-2025-06-11_08-00/images/*")
imgs.sort()

In [20]:
camera_client  = Client(camera_token, API_URL)

In [21]:
bbox_width = 3/FOV
bbox_center = 0.5 + (detection_azimuth-cam_center_azimuth)/FOV

x0 = bbox_center-bbox_width
x1 = bbox_center+bbox_width
bbox = np.array([(x0,x0,x1,x1, 0.8)])

In [22]:
for file in imgs:
    stream = io.BytesIO()
    im = Image.open(file)
    im.save(stream, format="JPEG", quality=80)
    bboxes = bbox.tolist()
    bboxes = [tuple(bboxe) for bboxe in bboxes]
    response = camera_client.create_detection(stream.getvalue(), cam_center_azimuth, bboxes)
    # Force a KeyError if the request failed
    response.json()["id"]